@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  @apply w-screen h-screen;
}

button{
  @apply flex bg-sky-600 cursor-pointer rounded-md p-2 lg:p-4 hover:scale-105 transition-all ease-in-out text-white justify-center items-center lg:text-lg disabled:opacity-75 disabled:cursor-not-allowed disabled:hover:scale-100 disabled:bg-gray-200 disabled:text-gray-600;
}

h2{
    @apply text-2xl font-bold flex justify-center items-center lg:p-4 p-2 text-white
}

h3{
    @apply font-semibold text-xl text-white text-center
}

.warning{
    @apply bg-yellow-500 text-white p-4 rounded-md transition-all ease-in-out animate-pulse
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.danger {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}